---
--- 

.btn {
    background-color: $middle-green;
    padding: .50rem;
    border-radius: 0.25rem;
    color: $white;
    text-decoration: none;
    display: inline-block;
    margin: 0 0.5rem;
    &:hover {
        background-color: $sacramento-state-green;
        color: $black;
    }
}

.btn-secondary {
    background-color: $cyber-yellow;
    color: $black;
    &:hover {
        background-color: $field-drab;
    }
}

.btn-inverse {
    border: 2px solid $white;
}

.btn-link {
    color: $sacramento-state-green;
    background-color: $white;
    text-decoration: underline;
    &:hover {
        background-color:$white;
        color: $gray-50;
    }
}