/* SCSS HEX */
$army-green: #454523ff;
$black: #000000ff;
$white: #FFFFFFff;
$field-drab: #704F04ff;
$sacramento-state-green: #153E28ff;
$middle-green: #468551ff;
$cyber-yellow: #FACF03ff;
$grays: #292915;

@function tint($color, $percentage) {
    @return mix(white, $color, $percentage);
}

// setting up grayscale
$gray-90: tint($grays, 90);
$gray-80: tint($grays, 80);
$gray-70: tint($grays, 70);
$gray-60: tint($grays, 60);
$gray-50: tint($grays, 50);
$gray-40: tint($grays, 40);
$gray-30: tint($grays, 30);
$gray-20: tint($grays, 20);
$gray-10: tint($grays, 10);
$gray-5: tint($grays, 5);